body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header h1 {
    font-size: 24px;
    margin-bottom: 5px;
}

hr {
    border: none;
    border-top: 2px solid black;
    margin-bottom: 20px;
}

main {
    display: flex;
}

.left {
    width: 20%;
    padding-right: 10px;
}

.right {
    width: 80%;
    padding-left: 10px;
}

.divider {
    width: 1px;
    background-color: lightgray;
}

.portrait {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}

.portrait img {
    width: 100%;
    height: auto;
    display: block;
}

.photo-year {
    text-align: center;
    font-size: 14px;
    margin-bottom: 5px;
    display: block;
}

.spacer {
    height: 5px;
}

.info-container {
    display: flex;
    flex-direction: column;
}

.info-item {
    display: flex;
    font-size: 14px;
    margin-top: 5px;
}

.info-item strong {
    font-weight: bold;
    min-width: 100px; /* 太字のラベル部分の幅を固定 */
    text-align: left;
}

.info-item span {
    text-align: left;
    flex-grow: 1;
}

.right h2 {
    margin-bottom: 5px;
}

.right hr {
    border: none;
    border-top: 1px solid black;
    margin-bottom: 10px;
}

.right section {
    margin-bottom: 20px;
}

.content {
    font-size: 14px;
    color: #333;
}
